body
{
    font-family: georgia, times, serif;
}

a:link { 
	color: #5555AA;
	text-decoration: none;
	}
a:visited { 
	color: #5555AA;
	text-decoration: none;
	}
a:hover { 
	color: #8888AA;
	text-decoration: underline;
	}
a:active { 
	color: #5555AA;
	text-decoration: underline;
	}

#container
{
	margin: 0 auto;
	width: 900px;
	background: #fff;
}

#header
{
	background: #fff;
	padding: 20px;
}

#header h1 { margin: 0; }


#content-container
{
	float: left;
	width: 900px;
	background: #fff;
}

#content
{
	clear: left;
	float: left;
	width: 560px;
	padding: 20px 0;
	margin: 0 0 0 30px;
	display: inline;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 240px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

#aside h3 { margin: 0; }
#aside ul { margin: 0; padding: 0; }
#aside ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer
{
	clear: left;
	background: #fff;
	text-align: left;
	padding: 20px;
	height: 1%;
    font-size: 60%;
}

div.entry
{
  margin-bottom: 2em;
}